<ul class="nav flex-column">
  <h2>CFP® Test Prep</h2>
  
  <!-- Home link without dropdown -->
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home">
      Home
    </a>
  </li>

  <!-- Professional Conduct and Regulation -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/professional-conduct-and-regulation">
        Professional Conduct and Regulation
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#conductSubpages" aria-expanded="false" aria-controls="conductSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="conductSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/professional-conduct-and-regulation/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/professional-conduct-and-regulation/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/professional-conduct-and-regulation/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- General Principles of Financial Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/general-principles-of-financial-planning">
        General Principles of Financial Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#principlesSubpages" aria-expanded="false" aria-controls="principlesSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="principlesSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/general-principles-of-financial-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/general-principles-of-financial-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/general-principles-of-financial-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Risk Management and Insurance Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/risk-management-and-insurance-planning">
        Risk Management and Insurance Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#riskSubpages" aria-expanded="false" aria-controls="riskSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="riskSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/risk-management-and-insurance-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/risk-management-and-insurance-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/risk-management-and-insurance-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Investment Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/investment-planning">
        Investment Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#investmentSubpages" aria-expanded="false" aria-controls="investmentSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="investmentSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/investment-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/investment-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/investment-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Tax Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/tax-planning">
        Tax Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#taxSubpages" aria-expanded="false" aria-controls="taxSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="taxSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/tax-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tax-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tax-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Retirement Savings and Income Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/retirement-savings-and-income-planning">
        Retirement Savings and Income Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#retirementSubpages" aria-expanded="false" aria-controls="retirementSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="retirementSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/retirement-savings-and-income-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/retirement-savings-and-income-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/retirement-savings-and-income-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Estate Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/estate-planning">
        Estate Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#estateSubpages" aria-expanded="false" aria-controls="estateSubpages">
        +
      </button>
    </div>
    <div class="collapse" id="estateSubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/estate-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estate-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estate-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Psychology of Financial Planning -->
  <li class="nav-item">
    <div class="d-flex justify-content-between align-items-center">
      <a class="nav-link flex-grow-1" href="/psychology-of-financial-planning">
        Psychology of Financial Planning
      </a>
      <button class="btn btn-link dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#psychologySubpages" aria-expanded="false" aria-controls="psychologySubpages">
        +
      </button>
    </div>
    <div class="collapse" id="psychologySubpages">
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a class="nav-link" href="/psychology-of-financial-planning/subpage1">Sub-page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/psychology-of-financial-planning/subpage2">Sub-page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/psychology-of-financial-planning/subpage3">Sub-page 3</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
